# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven
name: Maven build

on:
  pull_request:
    branches: [ main ]
    paths-ignore:
      - '.github/**'
      - '*.md'
      - 'LICENSE'


jobs:
  call-workflow-maven-build:
    uses: felleslosninger/github-workflows/.github/workflows/ci-maven-build-lib.yml@main
    with:
      java-version: 21
    secrets: inherit
